<div class="container">
    <div class="image">
        <div class="firsts">
            <h1 class="text-start text-white">Lorem, ipsum.</h1>
            <p class="text-sm-start text-white">Lorem ipsum dolor sit amet.</p>
            <button type="button" class="btn btn-outline-primary">show me</button>


        </div>
        <img class="w-100" src="https://images.pexels.com/photos/675920/pexels-photo-675920.jpeg?cs=srgb&dl=pexels-min-an-675920.jpg&fm=jpg" alt="Italian Trulli">
    </div>
</div>