<div class="container text-center">
    <div class="row">
      <div class="col">
        <h1>Lorem, ipsum</h1>
        <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1 bg-black" type="checkbox" value="" id="firstCheckboxStretched">
              <label class="form-check-label stretched-link" for="firstCheckboxStretched">First check</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1 bg-black" type="checkbox" value="" id="secondCheckboxStretched">
              <label class="form-check-label stretched-link " for="secondCheckboxStretched">Second check</label>
            </li>
          
        </ul>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-secondary btn-lg">contact</button>

        
      </div>
      <div div class="col">
        

                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <p>Lorem, ipsum dolor.</p>
                  
            
        
      </div>
        
    </div>
    </div>
  
