<div class="container text-center">
    <div class="row">
        <div class="col-sm-4">
            <p class="fs-1">About me</p>


       </div>
      <div class="col-sm-8">
        <p class="fw-lighter">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, culpa. Quas magni esse laborum quaerat inventore earum magnam ea. Facilis provident hic natus itaque blanditiis minus veritatis voluptate quisquam neque?
        Molestias, tempora laboriosam placeat doloribus eos neque autem excepturi animi voluptatum, corrupti obcaecati dolorum error officiis esse repellat sunt consectetur. Deleniti reprehenderit voluptas qui ab assumenda unde magnam eos cum.
        Eum obcaecati vel nam odit facere hic distinctio exercitationem minima consequatur ullam dolor nesciunt ipsa animi dolorum, similique veritatis natus ad molestiae sed laborum, quas magnam repellendus? Eum, error minus!</p>
       
        <a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">preview my cv</a>
        
     </div>

    </div>
  
