<div class="container text-center">
  <div class="head">
    <h1 class="fs-1 text-center text-white">skills</h1>
    <p class="fw-lighter">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis,
      culpa. Quas magni esse laborum quaerat inventore earum magnam ea. Facilis
      provident hic natus itaque blanditiis minus veritatis voluptate quisquam
      neque? Molestias, tempora laboriosam placeat doloribus eos neque autem
      excepturi animi voluptatum, corrupti obcaecati dolorum error officiis esse
      repellat sunt consectetur. Deleniti reprehenderit voluptas qui ab
      assumenda unde magnam eos cum. Eum obcae
    </p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-unstyled text-white">
        <li>html</li>
        <li>javascript</li>
        <li>css</li>
        <li>angular</li>
        <li>laraved</li>
      </ul>
    </div>
    <div class="col-md-6">
      <app-childskill></app-childskill>
    </div>
   
  </div>
</div>
<!-- <h1>aya</h1> -->